

body {
    margin: 0;
    cursor:url('images/cursor.png'), default;
    font-family: Arial, Helvetica, sans-serif;
}
/* HEAD LINE */
.headline{
    z-index: 500;
    position : fixed;
    font-family: Lack;
    border : solid 1px #050505;
    text-transform: uppercase;
	overflow: hidden;
    width : 100%;
    height : 30px;
    font-size : 25px;
    top : 0;
    text-decoration: none;
    background-color: #ffffff;
}
/* HEAD LINE */
/* DISCLAIMER */
.disclaimer-container{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 400;
    background-color: #000;
}
.disclaimer{
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.huit{
    text-transform: uppercase;
    font-size: 18px;
}
.buton{
    margin-top: 2%;
    padding : 1%;
    background-color: #fff;
    color: #000;
    border: solid;
    text-decoration: none;
}
/* DISCLAIMER */
/* POPORN */

.poporn{
    z-index: 200;
    position: fixed;
    height: 100%;
    width: 100%;
}
.poporn-1{
    height: 388px;
    width: 682px;
    background-image: url("images/poporn/porn_2.gif");
}
.poporn-2{
    height: 811px;
    width: 284px;
    background-image: url("images/poporn/porn_3.gif");
}
.poporn-3{
    height: 130px;
    width: 542px;
    background-image: url("images/poporn/porn_4.gif");
}
.poporn-4{
    height: 366px;
    width: 426px;
    background-image: url("images/poporn/porn_5.gif");
}
.poporn-5{
    height: 458px;
    width: 600px;
    background-image: url("images/poporn/porn_6.gif");
}
.poporn-6{
    height: 438px;
    width: 438px;
    background-image: url("images/poporn/porn_7.gif");
}
.background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.border-pop{
    transform: scale(.5);
    border : solid 2px #050505;
         position: fixed;
         z-index: 2000;
         -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
         -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
         box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}
.deletepop{
    background-color: #fff;
        font-size: 50px;
}
.score{
font-family: Lack;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#pop-score{
    font-size: 50px;
}
/* POPORN */
/* CONTAINER */
.container-holder{
    background-color: #B3A2C3;
    position : absolute;
    margin-top : 30px;
    display: flex;
    justify-content: center;
}
.container{
    padding : 10% 2%;
    width : 95%;
    color : #050505;
}
/* CONTAINER */

/* CARD TEXT */
.container-card{
    /* scroll effect */
    transform: scale(.1);
    transition: ease-in-out .5s;
    /* scroll effect */
    margin : 2% 5%;
    z-index: 100;


    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    background-color: #E0EAEA;
}
/* image de navigateur */
.title-card-img{
    background-image: url("images/1.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    height : 20px;
    border-radius: 5px 5px 0px 0px;
    z-index: 0;
}
.card-txt{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
/* Titre titre de card */
.title-card-txt{
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    border-top: solid 2px #000000;
    border-bottom: solid 2px #000000;
}
/* Titre zone de texte */
.heading-card-txt{
    font-weight: 600;
    font-size: 18px;
}
/* texte courant */
.current-card-txt{
    font-size: 15px;
    text-align: justify;
}
/* CARD TEXT */

/* RESSOURCES */
@font-face {
    font-family: 'lack';
    src: url('font/lack-regular-webfont.woff2') format('woff2'),
         url('font/lack-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a {
    color : #000000;
}
/* lié à tout texte */
.padding-side{
    padding: 5px 10px 3px 10px;
}
.padding-elem{
    padding: 10px 0px;
}
.border{
    border : solid 2px #050505;
    border-radius: 5px;
    z-index : 100;
}
.card-active{
    transform: scale(.8) !important;
}
/* RESSOURCES */



/* DEFILE */
.defileParent {
	overflow: hidden;
	position: relative;
	table-layout: fixed;
	width: 100%;
}
.defile {
	display:block;
	-webkit-animation:linear marqueelike 20s infinite ;
	-moz-animation:linear marqueelike 20s infinite ;
	-o-animation:linear marqueelike 20s infinite ;
	-ms-animation:linear marqueelike 20s infinite ;
	animation:linear marqueelike 20s infinite ;
	margin-left:-150%;
	padding:0 5px;
	text-align:left;
	height:25px;
}

.defile:after {
	content:attr(data-text);
	white-space:nowrap;
	padding-left:10px;
}

@-webkit-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-moz-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-o-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-ms-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }

/* RESPONSIVE */

@media screen and (min-width: 780px) {
    .container-holder{
        background-color: #ffffff00;
    }
    .container{
        padding : 2% 15%;
    }
    /* CARD TEXT */

    /* POSITION CARD - A AMÉLIORER, l'afficher aléatoirement en JS */
    .pos-1{
        width : 90%;
        margin-left: 3%;
        margin-top: 5%;
        background-color: #fce296;
    }
    .pos-2{
        width : 60%;
        margin-left: 20%;
        margin-top: 6%;
        background-color: #A8E6CF;
        /* height : 250px; */
    }
    .pos-3{
        width : 60%;
        margin-left: 10%;
        margin-top: 7%;
        background-color: #96E1A8;
    }
    .pos-4{
        width : 50%;
        margin-left: 20%;
        margin-top: 4%;
        background-color: #A6FFFF;
    }
    .pos-5{
        width : 70%;
        margin-left: 25%;
        margin-top: 3%;
        background-color: #F7B9AF;
    }
    .pos-6{
        width : 80%;
        margin-left: 12%;
        margin-top: 5%;
        background-color: #fce296;
    }
    .pos-7{
        width : 30%;
        margin-left: 66%;
        margin-top: 6%;
        background-color: #A8E6CF;
        /* height : 250px; */
    }
    .pos-8{
        width : 46%;
        margin-left: 27%;
        margin-top: 7%;
        background-color: #96E1A8;
    }
    .pos-9{
        width : 57%;
        margin-left: 38%;
        margin-top: 4%;
        background-color: #A6FFFF;
    }
    .pos-10{
        width : 60%;
        margin-left: 15%;
        margin-top: 3%;
        background-color: #F7B9AF;
    }
    /* POSITION CARD */
}
